<html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
<body>
	<div class = 'pane'>
		<div class = 'header'>
		<h1> New Request </h1>
	</div>

	

<form action="{{url_for('newMenuItem')}}" method = 'post'>

<p>ID:</p>

	<input type='text' size='30' name='request_id'>

<p>From:</p>

	<input type='text' size='30' name='from'>
<p>To:</p>

	<input type='text' size='30' name='to'>
<p>time_start:</p>

	<input type='text' size='30' name='time_start'>
<p>time_end:</p>

	<input type='text' size='30' name='time_end'>

<p>people_needed:</p>

	<input type='text' size='30' name='people_needed'>

<input type='submit' value='Create'>
<a href = '{{url_for( 'main_web')}}'>
Menu</a>

</div>
</form>

</body>
</html>